@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.restore-container {
    background: linear-gradient(to right, #d3d3d3, #f5f2ff);
    height: 100vh;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.back-button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    font-family: var(--text-font);
    align-self: start;
}

.restore-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 3% auto 0;
    text-align: left;
}

.logo-restore {
    height: 80px;
    margin: 2rem auto;
    align-self: center;
}

.restore-text {
    font-size: 16px;
    margin-bottom: 2rem;
}

.restore-form label {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.restore-form label span {
    color: red;
}

.restore-form input[type="password"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.restore-button {
    background: black;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
}


@media (max-width: 600px) {
    .restore-form {
        margin-top: 10%;
        padding: 0 1rem;
    }

    .back-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .logo-restore {
        height: 60px;
        margin: 1.5rem auto;
    }

    .restore-text {
        font-size: 14px;
    }

    .restore-button {
        font-size: 14px;
        padding: 0.6rem 1.5rem;
    }
}
