:root {
    --primary-color: #49A078;
    --secondary-color: #216869;
    --text-color: #DCE1DE;
    --text-font: 'Poppins', sans-serif;
    --background-color: linear-gradient(80deg, #49A078 0%, #216869 100%);
    --button-color: #1F2421;
    --card-color: #1F2421;
    --button-cancel-color: #A71D31;
}

/* Fondo general */
.signup-container {
  height: 100%;
  background: var(--background-color);
  padding: 30px;
  box-sizing: border-box;
  min-height: 100vh;
  color: var(--text-color);
}

/* Botón volver */
.back-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

/* Formulario */
.signup-form {
  max-width: 900px;
  margin: 40px auto 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

/*para columnas*/
.form-grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
  color: #aaa;
}

/* Sección para seleccionar imagen */
.profile-pic-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*Botón de selección de imagen*/
.upload-button {
  background-color: #000;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Imagen seleccionada */
.profile-preview {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Texto visual "*" para indicar que el campo es obligatorio */
.required {
  color: red;
}

/* Checkmark de aceptación de términos y condiciones */
.terms {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.95rem;
  line-height: 1.4;
  max-width: 600px;
  position: relative;
  top: 10px;
}

.terms input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: #aaaaaa;
  border: none;             
  border-radius: 4px;       
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

/* Cuando está seleccionado */
.terms input[type="checkbox"]:checked {
  background-color: #000;   /* Negro seleccionado */
}

.terms input[type="checkbox"]:checked::before {
  content: "✓"; /*Símbolo para mostrar al darle clic al chekbox*/
  position: absolute;
  top: 0;
  left: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

/* Botón para crear usuarios */
.submit-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.submit-button:not(:disabled):hover {
  background-color: #333333;
}
